$c-gray1: #F2F2F2;
$c-gray2: #EBEBEB;
$c-gray3: #D7D7D7;
$c-gray4: #9B9B9B;


body {
	font-family: "Roboto";
}

.title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.5rem;
}

.title2 {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 2.25rem;
}

.sub-title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
	color: $c-gray1;
}

.form-control:focus {
	color: $c-gray1;
}
.form-control::placeholder {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 1.25rem;
	color: rgba(255, 255, 255, 0.5);
}

.label {
	font-family: "Roboto";
	font-style: italic;
}

.w-90 {
	width: 90% !important; 
}

/* placeholder */
// .form-control::placeholder {
// 	color: rgba(255, 255, 255, 0.5);
// 	font-family: "Roboto";
// 	font-size: 1.25rem;
// }

.search-input {
	max-width: 800px;
	background: green;
}
