$c-gray1: #F2F2F2;
$c-gray2: #EBEBEB;
$c-gray3: #D7D7D7;
$c-gray4: #9B9B9B;


@mixin placeholder {
		&::placeholder {@content}
}

@mixin focus {
  &:focus {@content}
}


.bg-gray1 {
	background-color: $c-gray1;
}
.bg-gray2 {
	background-color: $c-gray2;
}
.bg-gray3 {
	background-color: $c-gray3;
}


.border-black {
  border-color: #000 !important;
}

.border-gray3 {
  border-color: $c-gray3 !important;
}

.h-simple-d {
	height: 45px;
}

// .text-black {
// 	color: black;
// }
.text-black {
	color: black;
}
.text-gray4 {
	color: $c-gray4;
}

.w-90 {
	width: 90% !important; 
}


body {
	font-family: "Roboto";
}

.title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.5rem;
}

.title2 {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 2.25rem;
}

.sub-title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
//	color: $c-gray1;
}

// .form-control:focus {
// 	color: $c-gray1;
// }
// .form-control::placeholder {
// 	font-family: "Roboto";
// 	font-weight: 400;
// 	font-size: 1.25rem;
// 	color: rgba(255, 255, 255, 0.5);
// }

.label {
	font-family: "Roboto";
	font-style: italic;
}

.btn-filter {
	border-radius: 10rem;
}
.btn-filter:focus {
	outline: none;
	box-shadow: none;
}

.spot:hover {
	box-shadow: 10px 10px 5px $c-gray3;
	cursor:pointer;
}

/* placeholder */
// .form-control::placeholder {
// 	color: rgba(255, 255, 255, 0.5);
// 	font-family: "Roboto";
// 	font-size: 1.25rem;
// }

// .search-input {
	// @include placeholder {
	// 	color: $c-gray1;
	// }

	// @include focuns {
	// 	font-family: "Roboto";
	// 	font-weight: 400;
	// 	font-size: 1.25rem;
	// 	color: rgba(255, 255, 255, 0.5);
	// }
// }

.search-input {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
	color: $c-gray1;

	@include placeholder {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 1.25rem;
		color: rgba(#FFFFFF , 0.5);
	}

	@include focus {
		color: $c-gray1;
		box-shadow: none;
	}
}

.search-input-s {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
	color: black;

	@include placeholder {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 1.25rem;
		// color: rgba(#FFFFFF , 0.5);
		color: $c-gray4;
	}

	@include focus {
		color: black;
		box-shadow: none;
	}
}
